body{
    font-family: system-ui,
                -apple-system,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                "Noto Sans",
                "Liberation Sans",
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol",
                "Noto Color Emoji";
        font-size: 0.95rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        
}
#root{
    padding:1rem;
    margin:1.5rem 1rem;
    border:1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #fafafa;
    text-align: center;
    color:#555;
}

input{
    padding:0.5rem 1rem;
    border:1px solid #d1d1d1;
    border-radius: 5px;
    width: 5.5rem;
    margin:0.5rem 0;
    color:#555;
    font-size: 0.95rem;
}
button{
    margin:0.5rem 0 0 0;
    padding:0.5rem 1rem;
    border:1px solid #0d6efd;
    border-radius: 5px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color:#fff;
    min-width: 14rem;
    font-size: 0.95rem;
    cursor: pointer;
}

label{
    min-width: 3rem ;
    padding:0 1rem;
    text-align: right;
}

h2{
    margin: 0 0 0.75rem 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;

}

/* #speed_label1,#speed_label2,small {
    font-size: x-small;
    color:#777;
} */

.form-group{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.d-flex {
    display: flex !important;
    justify-content: start !important;
}

.d-row{
    display: flex !important;
    justify-content: center !important;
}

.result_container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-x: overlay;
}

.result{
    display: inline-block;
}


.d-flex div,.d-flex span{
    width: auto;
    border:1px solid;
    
    min-width: 2rem;
    margin:0.05rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    padding:0.05rem;
    font-size: x-small;
    display: inline-block;
    
    cursor: pointer;
    
}

.d-flex div:hover,
.d-flex span:hover {
    border: 1px solid #0d6efd;
    color:#0d6efd !important;
}

.d-flex div {
    color: #ccc;
    
}

.d-flex span{
    color:red;
}

.font-danger{
    color:red;
}

.font-success {
    color: greenyellow;
}

/* tooltip */
#tooltip_container{
    position: absolute;
    width: 1px;
    height: 1px;
    display: none;
}

#tooltip {
    background-color: #212529;
    color: #fff;
    padding: 0.25rem 0.75rem 1rem 0.75rem;
    border-radius: 5px;
    font-size: small;
    text-align: center;
    position: absolute;
    min-width: 10rem;
    min-height: 7.53rem;
    transform: translate(-50%, -100%);
}

#tooltip small{
    color:#fff;
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #212529;
}

#arrow {
    visibility: hidden;
}

#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    margin-top: -4px;
}

#tooltip small{
    display: inline-block;
    max-width: 15rem;
}

h3{
    margin:0;
    font-size:35pt;
}

#tooltip, #arrow::before{
    box-shadow: 0px 0px 5px 0px #212529;
    -webkit-box-shadow: 0px 0px 5px 0px #212529;
    -moz-box-shadow: 0px 0px 5px 0px #212529;
}

/* loading */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 0.25rem;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #555;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #555 transparent transparent transparent;
}

#tooltip .lds-ring div {
    border: 2px solid #fff;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loading2 */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 1px;
}

.lds-ellipsis div {
    position: absolute;
    top: 14px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #555;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#tooltip .lds-ellipsis div {
    background: #fff;
}

.lds-ellipsis div:nth-child(1) {
    left: 2px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 2px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 14px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(6px, 0);
    }
}