body{
    font-family: system-ui,
                -apple-system,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                "Noto Sans",
                "Liberation Sans",
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol",
                "Noto Color Emoji";
        font-size: 0.95rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        
}
#root{
    padding:1rem;
    margin:1.5rem 1rem;
    border:1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #fafafa;
    text-align: center;
    color:#555;
}

input{
    padding:0.5rem 1rem;
    border:1px solid #d1d1d1;
    border-radius: 5px;
    width: 5.5rem;
    margin:0.5rem 0;
    color:#555;
    font-size: 0.95rem;
}
button{
    margin:0.5rem 0 0 0;
    padding:0.5rem 1rem;
    border:1px solid #0d6efd;
    border-radius: 5px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color:#fff;
    min-width: 14rem;
    font-size: 0.95rem;
}

label{
    min-width: 3rem ;
    padding:0 1rem;
    text-align: right;
}

#speed_label1,#speed_label2 {
    font-size: x-small;
}

.form-group{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.d-flex {
    display: flex !important;
    justify-content: start !important;
}

.d-row{
    display: flex !important;
    justify-content: center !important;
}

.result_container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}



.d-flex div,.d-flex span{
    width: auto;
    border:1px solid;
    
    min-width: 2rem;
    margin:0.05rem;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    padding:0.05rem;
    font-size: x-small;
    display: inline-block;
    
}

.d-flex div {
    color: #ccc;
    
}

.d-flex span{
    color:red;
}